.table td
{
    border: dotted;
    
}
.table th
{
    background-color: rgb(93, 163, 163);
}

.table tr td
{
    border-top: none;
}

.table tr td:first-child
{
    border-left: none;
}
.table tr td:nth-child(2n)
{
    border-left: none;
    border-right: none;
}

.table tr:hover
{
    background-color: darkseagreen;
}

