.list_day
{
    list-style-type: none;
    display: flex;
    align-items: flex-start; 
}
.list_day li
{
    position: relative;
    
}
.list_day>li
{
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    background-color: gainsboro;
    width: 95px;
}
.list_day>li:hover .food li
{
    display: block;     
}
.link
{
    text-decoration: none;
}
.food li
{ 
    display: none;
    list-style-type: none;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    background-color: gainsboro;
    width: 95px;
    margin: 0px -41px;
    border-bottom: none;
}

@media(max-width: 800px )
{
    .list_day
{
    display: flex;
    flex-direction: column;
    
}
.food
{
    position: absolute;
    top: 0;
    left: 100%;
}
.food li
{
   border-style: solid;
   border-width: 2px;
}
}
