.day
{
    float: left;
    border-radius: 5px;
    background-color: gainsboro ;
    border-style: solid;
    border-width: 2px;
    width: 95px;
    position: relative;
}
.food 
{   
    display: none;
    list-style-type: none;
    margin: 0 0 0 -41px;
    transition-duration: 2s;
    transition-timing-function: ease-out;
    transition-delay: 0.5s;
    transition-property: top;
}

.day:hover .food
{
    display: block;
    top: 0;
}

.food li
{
    border-radius: 5px;
    background-color: gainsboro ;
    border-style: solid;
    border-width: 2px 2px 0 2px;
    width: 95px;
}


@media(max-width: 800px )
{
    .day
    {
        position: relative;
        float: none;
    }
    .food li
    {
        border: solid;
        border-width: 2px;
    }
    .day:hover .food
    {
        display: block;
        position:absolute;
        top: 0;
        left: 100px;
    }

}
