*
{
    margin: 0;
    padding: 0;
}
.day
{
    float: left;
    border-radius: 5px;
    background-color: gainsboro ;
    border-style: solid;
    border-width: 2px;
    width: 95px;
    position: relative;
}
.food 
{   
    display: block;
    position: absolute;
    list-style-type: none;
    height: 0;
    overflow: hidden;
    transition: 2s;
}

.day:hover ul
{
    height: 66px; 
      
}

.food li
{
    border-radius: 5px;
    background-color: gainsboro ;
    border-style: solid;
    border-width: 2px;
    width: 95px;
    height: 20px;
}


@media(max-width: 800px )
{
    .day
    {
        position: relative;
        float: none;
    }
    .food
    {
        position:absolute;
        top: 0;
        left: 100px;
        height: 0;
        overflow: hidden;
    }
    .food li
    {
        border: solid;
        border-width: 2px;
    }
    .day:hover .food
    {
        
        position:absolute;
        top: 0;
        left: 100px;
    }

}
