.navigation
{
    width: 15em;
    height: 25em;
    background-color: lightpink;
    float: left;
}
.content
{
    background-color:lightgray;
}
.statia
{
    margin-bottom: 0.2em;
    background-color: lightblue;
}
.footer
{
    background-color: lightslategray;
    clear: left;
    text-align: center;
}
.img
{
    padding-left: 1030px;
}